* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #611515;
    color: #333;
    
}

/* NAVBAR */
header {
    width: 100%;
    padding: 20px 50px;
    background: #0a0909;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.btn {
    background: #fff;
    color: #ff4d4d;
    padding: 8px 18px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

/* HERO SECTION */
.hero {
    height: 85vh;
    background: url("https://i.imgur.com/ZaYV5wD.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 50px;
    max-width: 700px;
}

.hero-content p {
    margin: 15px 0 20px;
    font-size: 18px;
}

.hero-btn {
    background: #ff4d4d;
    color: white;
}

/* MENU SECTION */
.menu-section {
    padding: 60px 50px;
    text-align: center;
}

.menu-section h2 {
    font-size: 32px;
    margin-bottom: 25px;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu-card {
    width: 260px;
    border-radius: 12px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.menu-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.menu-card h3 {
    margin: 12px 0;
    font-size: 20px;
}

.btn-sm {
    background: #ff4d4d;
    border: none;
    padding: 6px 14px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

/* ABOUT */
.about, .contact {
    padding: 60px 50px;
    text-align: center;
    background: #f7f7f7;
}

.about h2, .contact h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 18px;
    background: #ff4d4d;
    color: white;
}
